<div class="container d-flex flex-column odd-show-head pb-5" style="padding-left: 0; padding-right: 0;">
  <div class="d-flex align-items-center flex-column">
    <div class="d-flex flex-column align-items-center py-2">
      <h2>OddBox</h2>
    </div>
    <div class="d-flex odd-show-head-contents">
      <div>
        <h5>Box contents:</h5>
        <% ings = @oddbox.ingredients.map(&:name).join(", ") %>
        <p><%= ings %></p>
      </div>
      <div class="d-flex flex-column justify-content-between">
        <h5><%= @oddbox.name %></h5>
        <%= image_tag("med_oddbox.png") %>
      </div>
    </div>
  </div>

  <div class="box-storing" data-controller="dropdown">
    <div class="dropdown-store-veg">
      <a class="dropbtn" data-action="click->dropdown#toggleSubstitutes"> <i class="fa fa-caret-down"></i> How to store box content </a>
      <div id="myDropdown" class="dropdown-content" data-dropdown-target="dropdown">
        <ul class="recipe-sub-li">
        <p><strong>Avocado:</strong> Until they're fully ripe, avocados should be stored at room temperature. Ripe avocados: put them in the refrigerator to keep them at their prime ripeness for longer.</p>
        <p><strong>Beetroots:</strong> Store beets in the refrigerator placed in a perforated plastic bag in the vegetable crisper drawer.</p>
        <p><strong>Cavolo nero:</strong> Keep it in a cool, dark place or the vegetable drawer of the fridge for several days.</p>
        <p><strong>Brussels sprouts:</strong> Store in a plastic bag in the crisper drawer of the refrigerator.</p>
        <p><strong>Carrots:</strong> Should be kept loose in the vegetable drawer of your fridge. Shrivelled or 'rubbery' carrots can be 'revived' by soaking in cold water. If your carrots come with the leaves intact, cut these off before storing.</p>
        <p><strong>Cucumbers:</strong> The best way to store cut cucumbers is to wrap them in a damp paper towel and place them in an airtight storage container.</p>
        <p><strong>Ginger:</strong> Refrigerate fresh, whole, unpeeled ginger in an airtight plastic bag in the crisper drawer.</p>
        <p><strong>Limes:</strong> Store lime is in the refrigerator in the crisper drawer if you have one.</p>
        <p><strong>Mango:</strong> Unripe mangoes in a dark, room temperature container. Once ripe, mangos should be moved to the refrigerator, which will slow down the ripening process.</p>
        </ul>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column py-2">
    <div class="align-self-center">
      <h2 class="my-2" id="user-show-mini-head">Top 5 recipes this week:</h2>
    </div>
    <% @oddbox.recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <div class="meal-plan-show">
          <div class="card-product">
            <%= image_tag(recipe.image_url) %>
            <div class="text-recipe">
              <div class="card-product-infos">
                <h2><%= recipe.name %></h2>
                <p>Total time: <%= recipe.cooking_time %></p>
              </div>
              <div class="stars-meal-plan">
                <ul class="stars-index">
                <% 5.times do |x| %>
                  <% if x < recipe.rating %>
                    <li class="fa fa-star checked"></li>
                  <% else %>
                    <li class="fa fa-star"></li>
                  <% end %>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
