<div class="container d-flex flex-column odd-show-head">
  <div class="d-flex align-items-center flex-column">
    <div class="d-flex flex-column align-items-center py-2">
      <h2>OddBox</h2>
    </div>
    <div class="d-flex odd-show-head-contents">
      <div>
        <h5>Box contents:</h5>
        <% ings = @oddbox.ingredients.map(&:name).join(", ") %>
        <p><%= ings %></p>
      </div>
      <div class="d-flex flex-column justify-content-between">
        <h5><%= @oddbox.name %></h5>
        <%= image_tag("med_oddbox.png") %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column py-2">
    <div class="align-self-center">
      <h2 class="my-2" id="user-show-mini-head">Top 5 recipes this week:</h2>
    </div>
    <% @oddbox.recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <div class="meal-plan-show">
          <div class="card-product">
            <%= image_tag(recipe.image_url) %>
            <div class="text-recipe">
              <div class="card-product-infos">
                <h2><%= recipe.name %></h2>
                <p>Total time: <%= recipe.cooking_time %></p>
              </div>
              <div class="stars-meal-plan">
                <ul class="stars-index">
                <% 5.times do |x| %>
                  <% if x < recipe.rating %>
                    <li class="fa fa-star checked"></li>
                  <% else %>
                    <li class="fa fa-star"></li>
                  <% end %>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
