<div class="container" data-search-recipes-target="list" style="padding: 0;">
  <p class="conatiner d-flex justify-content-center">
    <% if params[:query].blank? %>
      <%= pluralize recipes.count, 'recipe' %> available
    <% else %>
      <%= pluralize recipes.count, 'result' %> for <em><%= params[:query] %></em>
    <% end %>
  </p>
  <% recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe) do %>
      <div class="meal-plan-show">
        <div class="card-product">
          <%= image_tag(recipe.image_url) %>
          <div class="text-recipe">
            <div class="card-product-infos">
              <h2><%= recipe.name %></h2>
              <p><i class="far fa-clock"></i> <%= recipe.cooking_time %> mins </p>
            </div>
            <div class="stars-meal-plan">
              <ul class="stars-index">
                <% 5.times do |x| %>
                  <% if x < recipe.rating %>
                    <li class="fa fa-star checked"></li>
                  <% else %>
                    <li class="fa fa-star"></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
