<div class="container" style="padding: 0;">
  <div class="recipe-header">
    <h1><%= @recipe.name %></h1>
  </div>
    <div class="recipe-img">
      <%= image_tag(@recipe.image_url) %>
        <%= link_to like_recipe_path(@recipe), remote: true, method: :post do %>
          <i class="fa fa-solid fa-heart<%= " red" if current_user.favorited?(@recipe) %>"></i>
        <% end %>
    </div>
    <div class="recipe-card-links">
      <div class="recipe-time">
        <p> <i class="far fa-clock"></i> <%= @recipe.cooking_time %> mins </p>
          <%= link_to new_recipe_review_path(@recipe) do %>
          <ul class="recipe-stars"> <% 5.times do |x| %>
            <% if x < @recipe.rating %>
              <li class="fa fa-star checked"> </li>
            <% else %>
              <li class="fa fa-star"> </li>
            <% end %>
           <% end %>
           <% end %>
          </ul>
        <p> <i class="fa fa-carrot"></i> <%= @recipe.difficulty %></p>
      </div>

      <% dates = [] %>
        <% 20.times do |i| %>
        <% dates << ((Date.today + i).strftime("%d")).to_i %>
      <% end %>

      <% day = [] %>
        <% 20.times do |i| %>
        <% day << ((Date.today + i).strftime("%a")) %>
      <% end %>

        <div class="recipe-cal-btn">
        <button type="button" class="button-add-cal" data-bs-toggle="modal" data-bs-target="#exampleModal"> Add to Calendar </button>
          <div class="modal" id="exampleModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header justify-content-center">
                  <div class="modal-title">
                    <h4>Calendar</h4>
                  </div>
                  <div class="modal-sub-title">
                    <h6>March</h6>
                  </div>
                </div>

                <div class="modal-body">
                  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">


                        <div class="row">
                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[0].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[0], day: day[0]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[0] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[0] %></p>
                              </div>
                            </div>
                          </div>

                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[1].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[1], day: day[1]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[1] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[1] %></p>
                              </div>
                            </div>
                          </div>

                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[2].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[2], day: day[2]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[2] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[2] %></p>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>


                      <div class="carousel-item">


                        <div class="row">
                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[3].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[3], day: day[3]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[3] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[3] %></p>
                              </div>
                            </div>
                          </div>

                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[4].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[4], day: day[4]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[4] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[4] %></p>
                              </div>
                            </div>
                          </div>

                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[5].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[5], day: day[5]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[5] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[5] %></p>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>

                      <div class="carousel-item">


                        <div class="row">
                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[6].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[6], day: day[6]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[6] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[6] %></p>
                              </div>
                            </div>
                          </div>

                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[7].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[7], day: day[7]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[7] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[7] %></p>
                              </div>
                            </div>
                          </div>

                          <div class="col-4">
                            <div class="cal-card my-2">
                              <div class="cal-card-title">
                                <p><%= dates[8].ordinalize %></p>
                              </div>
                              <div class="cal-card-img">
                              <%= link_to recipe_meal_plans_path(@recipe, date: dates[8], day: day[8]), method: :post do %>
                                <% if @meal_plan.empty? %>
                                  <i class="fa fa-solid fa-plus"></i>
                                <% else %>
                                  <% @meal_plan.each_with_index do |meal_plan, index| %>
                                    <% if meal_plan.date.strftime("%d").to_i == dates[8] %>
                                      <%= image_tag(Recipe.find(meal_plan.recipe_id).image_url) %>
                                      <% break %>
                                    <% elsif index == @meal_plan.length - 1 %>
                                      <i class="fa fa-solid fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                              </div>
                              <div class="cal-card-day">
                                <p><%= day[8] %></p>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>

                      <button class="carousel-control-prev" type="button" data-bs-target="#multi-item-example" data-bs-slide="prev">
                        <i class="carousel-control-prev-icon fa fa-solid fa-angle-left"></i>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#multi-item-example" data-bs-slide="next">
                        <i class="carousel-control-next-icon fa fa-solid fa-angle-right"></i>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="modal-footer justify-content-between">
                  <a href="<%= recipe_path(@recipe) %>" class="button-close"> Close </a>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

        <div class="recipe-ing" data-controller="dropdown">
          <h4>Ingredients:</h4>
          <ul class="recipe-ing-li">
          <% RecipeIngredient.where(recipe_id: @recipe.id).each do |ri| %>
            <li><%= ri.quantity %> <%= ri.ingredient.name %></li>
          <% end %>
          </ul>
          <div class="dropdown">
            <a class="dropbtn" data-action="click->dropdown#toggleSubstitutes"> <i class="fa fa-caret-down"></i> Substitutes </a>
            <div id="myDropdown" class="dropdown-content" data-dropdown-target="dropdown">
              <ul class="recipe-sub-li">
                <% @recipe.method.gsub("[", "").gsub("]", "").gsub(/\\/, "").split("\",").each do |sub| %>
                  <li><%= sub.gsub("\"", "") if sub.include?("?") %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

      <br>
        <div class="recipe-desc">
          <h4>Description:</h4>
          <p><%= @recipe.description %></p>
        </div>
        <br>
          <div class="recipe-meth">
            <h4>Recipe:</h4>
              <ul>
                <% @recipe.method.gsub("[", "").gsub("]", "").gsub(/\\/, "").split("\",").each do |sub| %>
                  <% unless sub.include?("?") %>
                    <li><%= sub.gsub("\"", "") %></li>
                  <% end %>
                <% end %>
              </ul>
          </div>
          <br>
            <div class="recipe-stor" data-controller="dropdown">
              <div class="dropdown">
                <a class="dropbtn" data-action="click->dropdown#toggleSubstitutes"> <i class="fa fa-caret-down"></i> How to Store </a>
                <div id="myDropdown" class="dropdown-content" data-dropdown-target="dropdown">
                  <p><%= @recipe.storage %></p>
                </div>
              </div>
            </div>
            <br>
              <div class="recipe-leftover" data-controller="dropdown">
                <div class="dropdown">
                  <a class="dropbtn" data-action="click->dropdown#toggleSubstitutes"> <i class="fa fa-caret-down"></i> Leftovers </a>
                  <div id="myDropdown" class="dropdown-content" data-dropdown-target="dropdown">
                    <p><%= @recipe.leftover %></p>
                  </div>
                </div>
              </div>
              <br>
                <div class="recipe-review-btn">
                  <button class="button-review"><%= link_to "Leave a review", new_recipe_review_path(@recipe)%></button>
                </div>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <% review = @recipe.reviews.first %>
                    <div class="container mt-5 meal-plan-show">
                      <div class="card-product flex-column p-2 review-card" id="review-<%= review.id %>">
                          <div class="container d-flex flex-column">
                            <h2><%= User.find(review.user_id).first_name %>
                                <% 5.times do |x| %>
                                  <% if x < review.rating %>
                                    <li class="fa fa-star checked"></li>
                                  <% else %>
                                    <li class="fa fa-star"></li>
                                  <% end %>
                                <% end %>
                              </h2>
                            </div>
                            <div class="container p-2">
                              <p><%= review.content %></p>
                            </div>
                          </div>
                        </div>
                </div>
                <% @recipe.reviews.sort_by(&:created_at).reverse.each do |review| %>
                  <div class="carousel-item">
                    <div class="container mt-5 meal-plan-show">
                      <div class="card-product flex-column p-2 review-card" id="review-<%= review.id %>">
                        <div class="container d-flex flex-column">
                          <h2><%= User.find(review.user_id).first_name %>
                            <% 5.times do |x| %>
                              <% if x < review.rating %>
                                <li class="fa fa-star checked"></li>
                              <% else %>
                                <li class="fa fa-star"></li>
                              <% end %>
                            <% end %>
                          </h2>
                        </div>
                        <div class="container p-2">
                          <p><%= review.content %></p>
                        </div>
                      </div>
                  </div>
                  </div>

                </div>
                <% end %>
              </div>
            </div>
</div>
