<div class="meal-plan-show container">
  <h1>Shopping List</h1>

  <% dates = [] %>
  <% 20.times do |i| %>
  <% dates << ((Date.today + i).strftime("%d")).to_i %>
  <% end %>

  <% dates_name = [] %>
  <% dates.each_with_index do |date, index| %>
    <% dates_name << Date::DAYNAMES[Date.new(2022, 03, date).wday]%>
  <% end %>

  <% @meal_plan.each_with_index do |meal_plan, index| %>
  <% date_counter = meal_plan.date %>
    <% meal = meal_plan.recipe_id%>
    <div class = "date-meal-plan">
      <% date = meal_plan.date %>
      <% ymd = date.to_s.split("-") %>
      <% year = ymd[0].to_i %>
      <% month = ymd[1].to_i %>
      <% day = ymd[2].to_i %>
      <% if Time.new(year, month, day) >= Time.new(Time.now.strftime("%Y").to_i, Time.now.strftime("%m").to_i, Time.now.strftime("%d").to_i) %>
        <% if date_counter == meal_plan.date && index == 0 %>
          <%= date.strftime('%a') %>
          <%= date.day.ordinalize %>
          <%= Date::MONTHNAMES[date.month].capitalize  %>
        <% elsif date_counter != @meal_plan[index - 1].date %>
          <% date_counter = meal_plan.date %>
          <%= date.strftime('%a') %>
          <%= date.day.ordinalize %>
          <%= Date::MONTHNAMES[date.month].capitalize  %>
        <% end %>
        <% date_counter = @meal_plan[index + 1].date if index < @meal_plan.count - 1 %>
    </div>
    <% recipe = Recipe.find(meal) %>
    <div class="card-product-infos" data-controller="dropdown">
      <h2><%= recipe.name %></h2>
      <div class="dropdown shopping-drop">
        <a class="dropbtn" data-action="click->dropdown#toggleSubstitutes"> <i class="fa fa-caret-down"></i> Ingredients</a>
        <div id="myDropdown" class="dropdown-content" data-dropdown-target="dropdown">
          <ul class="recipe-sub-li">
            <%= render 'list', recipe: recipe, meal_plan: meal_plan %>
          </ul>
        </div>
      </div>
    </div>
      <% end %>
  <% end %>
</div>
