<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://www.oddbox.co.uk/static/161a4c925cbc517745352d68883dba6a/10a83/Oddbox-logo.webp" %>
    <% end %>

    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", id: "navbarDropdown", data: { bs_toggle: "collapse", bs_target: '#navbarSupportedContent' }, 'aria-controls': 'navbarSupportedContent', 'aria-expanded': false, 'aria-label': "Toggle navigation"  %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <i class="fa-solid fa-utensils"></i>
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "OddBox", "#", class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "ShoppingList", "#", class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Calendar", "#", class: "nav-link" %>
          </li>
             <li class="nav-item">
            <%= link_to "OddBook", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
