<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to "#", class: "navbar-brand" do %>
      <%# <img src="../assets/images/logo.jpg" alt="logo"> %>
      <%= image_tag "https://www.oddbox.co.uk/static/161a4c925cbc517745352d68883dba6a/10a83/Oddbox-logo.webp" %>
    <% end %>

    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS84-simWvXiPU531lSSFXtJnu5KIWS0ri8yA&usqp=CAU", class: "avatar", id: "navbarDropdown", data: { bs_toggle: "collapse", bs_target: '#navbarSupportedContent' }, 'aria-controls': 'navbarSupportedContent', 'aria-expanded': false, 'aria-label': "Toggle navigation"  %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", user_path(current_user), class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Recipes", recipes_path, class: "nav-link" %>
          </li>
          <% unless current_user.oddbox.nil? %>
            <li class="nav-item">
              <%= link_to "OddBox", oddbox_path(current_user.oddbox), class: "nav-link" %>
            </li>
          <% end %>
           <li class="nav-item">
            <%= link_to "ShoppingList", "#", class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Calendar", "#", class: "nav-link" %>
          </li>
             <li class="nav-item">
            <%= link_to "OddBook", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
