<div class="container">
  <div class="review-head d-flex flex-column align-items-center py-2">
      <h2>Reviews</h2>
      <h3><%= @recipe.name %></h3>
      <div class="container">
        <%= image_tag(@recipe.image_url) %>
      </div>
  </div>
  <div class="container">
    <%= simple_form_for [@recipe, @review] do |f| %>
      <%= f.input :content, label: "Leave a review" %>
      <%= f.input :rating, label: "Rate this recipe", collection: (1..5).to_a %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
  <div class="container mt-5 meal-plan-show">
    <% @recipe.reviews.sort_by(&:created_at).reverse.each do |review| %>
      <div class="card-product flex-column p-2 review-card" id="review-<%= review.id %>">
        <div class="container d-flex flex-column">
          <h2><%= User.find(review.user_id).first_name %>
            <% 5.times do |x| %>
              <% if x < review.rating %>
                <li class="fa fa-star checked"></li>
              <% else %>
                <li class="fa fa-star"></li>
              <% end %>
            <% end %>
          </h2>
        </div>
        <div class="container p-2">
          <p><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
